/*td, th {
    vertical-align: middle;
    border: 1px solid black;
}*/

.pagenav {
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    border: 1px;
    padding: 15px;
    color: grey;
}

.notice-table{
    width: 100%;
    margin: auto;
    background-color: white;
    padding: 15px;
}

.notice-table td, th {
    padding: 15px;
    border: 1px solid grey;
    vertical-align: middle;
    text-align: center;
}

.notice-table th{
    border-top: 3px solid black;
    background-color: #E2E2E2;
}

.cell-long{
    width: 500px;
}

ul {
    float: right;
    list-style-type: none;
    margin: 5px;
    padding: 10px;
    overflow: hidden;
    width: 870px;
    margin-left: auto;
    margin-right: auto;
}

li {
   float: left; 
}

li a {
    display: block;
    background-color: #E2E2E2;
    color: black;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    margin: 8px;
    border: 1px solid grey;
    cursor: pointer;

}

li a.current{
    background-color: black;
    color: white;
}

li a:hover:not(.current) {
    background-color: black;
    color: white;
}

li a:focus {
    background-color: black;
    color: white;
}

